#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  margin: 0;
  padding: 0;
  background-color: #F5F7FA;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

body, html, #root {
  height: 100%; /* Ensures the full viewport height is used */
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
